In [10]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests
import time
from selenium.webdriver.chrome.options import Options
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import os
import re
import math
from collections import Counter

In [2]:
first_url = 'https://www.glassdoor.com/Reviews/Revolut-Reviews-E1176471.htm?filter.iso3Language=eng'
pwd = os.getcwd()
driver_path = pwd + "/chromedriver.exe"
wd = webdriver.Chrome(executable_path=driver_path)
wd.get(first_url)

soup = bs(wd.page_source, 'html.parser')
total_reviews = re.findall(r"\d+[^\s]", soup.find(class_='css-ntu5m7 col-6 my-0').text.strip())[0]

wd.quit()

C:\Users\u10054206\AppData\Local\Temp\ipykernel_20416\2413263014.py:4: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  wd = webdriver.Chrome(executable_path=driver_path)

In [3]:
total_pages = math.ceil(int(total_reviews) / 10)
total_pages

83

In [18]:
ratings = []
employee_status = []
review_titles = []
review_dates = []
review_pros = []
review_cons = []
num_people_helpful = []
for i in range(total_pages):
    print(i)
    page_number = str(i)
    url = f'https://www.glassdoor.com/Reviews/Revolut-Reviews-E1176471_P{page_number}.htm?filter.iso3Language=eng'
    pwd = os.getcwd()
    driver_path = pwd + "/chromedriver.exe"
    wd = webdriver.Chrome(executable_path=driver_path)

    wd.get(url)

    time.sleep(2)

    soup = bs(wd.page_source, 'html.parser')

    for review in soup.find_all(class_='gdReview'):
        ratings.append(review.find(class_='ratingNumber mr-xsm').text.strip())

        employee_status.append(review.find(class_='pt-xsm pt-md-0 css-1qxtz39 eg4psks0').text.strip())

        review_titles.append(review.find(class_='mb-xxsm mt-0 css-93svrw el6ke055').text.strip())

        review_dates.append(review.find(class_='authorJobTitle middle common__EiReviewDetailsStyle__newGrey').text.strip())

        review_pros.append(review.find("span", {"data-test": "pros"}).text.strip().replace("\r", "").replace("\n", ""))

        review_cons.append(review.find("span", {"data-test": "cons"}).text.strip().replace("\r", "").replace("\n", ""))

        try:
            num_people_helpful.append(re.findall(r"\d+", review.find(class_="common__EiReviewDetailsStyle__socialHelpfulcontainer pt-std").text.strip())[0].replace("\xa0", ""))
        except IndexError as e:
            num_people_helpful.append(0)
    wd.quit()

0

C:\Users\u10054206\AppData\Local\Temp\ipykernel_20416\440619541.py:15: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  wd = webdriver.Chrome(executable_path=driver_path)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82

In [21]:
df = pd.DataFrame(data={"Rating":ratings, "Employee Status":employee_status, "Review Title":review_titles, "Date":review_dates,
                    "Pros":review_pros, "Cons":review_cons, "Num People Helpful":num_people_helpful})
df

,Rating,Employee Status,Review Title,Date,Pros,Cons,Num People Helpful
0,5.0,Current Employee,Review,"Apr 26, 2022 - Anonymous Employee",Learning new content. Extremely detailed train...,Amount of initial information can be overwhelm...,0
1,1.0,"Current Employee, less than 1 year",horrible,"Apr 25, 2022 - Account Executive",do not work here. please find another job.,worst place to work. should not join.,5
2,5.0,"Former Employee, more than 1 year",-,"Mar 15, 2022 - Anonymous Employee",Innovative and strong ecosystem within teams,Great experience and not a lot of issues,0
3,4.0,"Current Employee, less than 1 year",Recruiter,"Mar 7, 2022 - Recruiter",Work culture is very good,"UNREASONABLE TARGETS , deadlines are crazy",0
4,4.0,"Current Employee, more than 1 year",Great Place to Work,"Mar 2, 2022 - Senior Software Engineer",- Huge growth opportunities to tech leadership...,- Startups environment: a lot of things change...,0
...,...,...,...,...,...,...,...
825,3.0,Current Employee,Exciting growth but bad culture,"Jan 5, 2018 - Anonymous Employee","Growth was really fast, fun team, cool product.","Bad working culture, staff not really respected.",4
826,3.0,"Former Employee, more than 1 year",Awful company to work for,"Nov 26, 2017 - Analyst",Its headquartered in Canary Wharf,Poor salaryNo strategyunorganised start up,14
827,1.0,"Former Employee, more than 1 year",Consider carefully,"Dec 14, 2017 - Anonymous Employee",All you can drink coffee/tea/diet coke,Poor managementLack of leadership and directio...,32
828,4.0,"Current Employee, less than 1 year",its ok to work here,"Oct 11, 2017 - Test Automation Engineer",Interesting projects and good compensations.,Really bag management. Very uncomfortable sit...,6
829,5.0,"Current Employee, less than 1 year",I'm part of something special,"Jul 13, 2017 - Marketing",- Good career development- Amazing company gro...,"- Working hours can be long, but worth it in m...",5

In [22]:
df.to_csv('reviews.csv', sep=';', index=False)

In [2]:
classifier = pipeline('sentiment-analysis')

In [3]:
classifier('We are ver happy to introduce pipeline to the transformers repository.')

[{'label': 'POSITIVE', 'score': 0.9989639520645142}]

In [6]:
df_import = pd.read_csv('reviews.csv', sep=';')
df_import

,Rating,Employee Status,Review Title,Date,Pros,Cons,Num People Helpful
0,5.0,Current Employee,Review,"Apr 26, 2022 - Anonymous Employee",Learning new content. Extremely detailed train...,Amount of initial information can be overwhelm...,0
1,1.0,"Current Employee, less than 1 year",horrible,"Apr 25, 2022 - Account Executive",do not work here. please find another job.,worst place to work. should not join.,5
2,5.0,"Former Employee, more than 1 year",-,"Mar 15, 2022 - Anonymous Employee",Innovative and strong ecosystem within teams,Great experience and not a lot of issues,0
3,4.0,"Current Employee, less than 1 year",Recruiter,"Mar 7, 2022 - Recruiter",Work culture is very good,"UNREASONABLE TARGETS , deadlines are crazy",0
4,4.0,"Current Employee, more than 1 year",Great Place to Work,"Mar 2, 2022 - Senior Software Engineer",- Huge growth opportunities to tech leadership...,- Startups environment: a lot of things change...,0
...,...,...,...,...,...,...,...
825,3.0,Current Employee,Exciting growth but bad culture,"Jan 5, 2018 - Anonymous Employee","Growth was really fast, fun team, cool product.","Bad working culture, staff not really respected.",4
826,3.0,"Former Employee, more than 1 year",Awful company to work for,"Nov 26, 2017 - Analyst",Its headquartered in Canary Wharf,Poor salaryNo strategyunorganised start up,14
827,1.0,"Former Employee, more than 1 year",Consider carefully,"Dec 14, 2017 - Anonymous Employee",All you can drink coffee/tea/diet coke,Poor managementLack of leadership and directio...,32
828,4.0,"Current Employee, less than 1 year",its ok to work here,"Oct 11, 2017 - Test Automation Engineer",Interesting projects and good compensations.,Really bag management. Very uncomfortable sit...,6
829,5.0,"Current Employee, less than 1 year",I'm part of something special,"Jul 13, 2017 - Marketing",- Good career development- Amazing company gro...,"- Working hours can be long, but worth it in m...",5

### Convert text into tokens

In [11]:
# tokenize the text with regular expressions
# "w+": This expression matches the alphanumeric character in the text
import re
token_positive = []
token_negative = []

for i in range(len(df_import['Pros'])):
    token_positive.append(re.findall('\w+', df_import['Pros'][i]))

for i in range(len(df_import['Cons'])):
    token_negative.append(re.findall('\w+', df_import['Cons'][i]))

token_negative[:10]

[['Amount',
  'of',
  'initial',
  'information',
  'can',
  'be',
  'overwhelming',
  'at',
  'first'],
 ['worst', 'place', 'to', 'work', 'should', 'not', 'join'],
 ['Great', 'experience', 'and', 'not', 'a', 'lot', 'of', 'issues'],
 ['UNREASONABLE', 'TARGETS', 'deadlines', 'are', 'crazy'],
 ['Startups',
  'environment',
  'a',
  'lot',
  'of',
  'things',
  'change',
  'quickly',
  'Could',
  'get',
  'busy',
  'with',
  'on',
  'calls'],
 ['Sometimes', 'expectations', 'aren', 't', 'clearly', 'set'],
 ['Too',
  'many',
  'to',
  'name',
  '0',
  'work',
  'life',
  'balanceOutlandish',
  'goals',
  'set',
  'by',
  'management0',
  'support',
  'from',
  'HQ',
  'and',
  'all',
  'decision',
  'makersJoining',
  'Revolut',
  'is',
  'more',
  'like',
  'getting',
  'aboard',
  'the',
  'carnival',
  'ride',
  'far',
  'from',
  'a',
  'rocket',
  'ship'],
 ['Too',
  'much',
  'pressureTeam',
  'managers',
  'are',
  'not',
  'availableworse',
  'management',
  'and',
  'HRWorse',
  'collaborationScattered',
  'resources',
  'to',
  'follow',
  'and',
  'not',
  'in',
  'one',
  'place'],
 ['does',
  'not',
  'understand',
  'the',
  'market',
  'in',
  'the',
  'U',
  'S',
  'The',
  'commission',
  'rate',
  'is',
  'perhaps',
  'the',
  'worst',
  'in',
  'the',
  'industry',
  'the',
  'company',
  'seems',
  'to',
  'still',
  'be',
  'trying',
  'to',
  'figure',
  'out',
  'why',
  'the',
  'U',
  'S',
  'Does',
  'not',
  'convert',
  'as',
  'regularly',
  'to',
  'other',
  'currency',
  'The',
  'strategic',
  'plan',
  'is',
  'non',
  'existent',
  'Along',
  'with',
  'this',
  'they',
  'spy',
  'on',
  'employees'],
 ['No',
  'job',
  'security',
  'or',
  'work',
  'life',
  'balance',
  'No',
  'company',
  'culture',
  'due',
  'to',
  'high',
  'turnover',
  'Management',
  'doesn',
  't',
  'value',
  'people',
  'Blatant',
  'bias',
  'when',
  'it',
  'comes',
  'to',
  'diversity']]

### Convert tokens into Words

In [12]:
words_positive = []
words_negative = []

for i in range(len(token_positive)):
    for word in token_positive[i]:
        words_positive.append(word.lower())

for i in range(len(token_negative)):
    for word in token_negative[i]:
        words_negative.append(word.lower())

words_negative[:100]

['amount',
 'of',
 'initial',
 'information',
 'can',
 'be',
 'overwhelming',
 'at',
 'first',
 'worst',
 'place',
 'to',
 'work',
 'should',
 'not',
 'join',
 'great',
 'experience',
 'and',
 'not',
 'a',
 'lot',
 'of',
 'issues',
 'unreasonable',
 'targets',
 'deadlines',
 'are',
 'crazy',
 'startups',
 'environment',
 'a',
 'lot',
 'of',
 'things',
 'change',
 'quickly',
 'could',
 'get',
 'busy',
 'with',
 'on',
 'calls',
 'sometimes',
 'expectations',
 'aren',
 't',
 'clearly',
 'set',
 'too',
 'many',
 'to',
 'name',
 '0',
 'work',
 'life',
 'balanceoutlandish',
 'goals',
 'set',
 'by',
 'management0',
 'support',
 'from',
 'hq',
 'and',
 'all',
 'decision',
 'makersjoining',
 'revolut',
 'is',
 'more',
 'like',
 'getting',
 'aboard',
 'the',
 'carnival',
 'ride',
 'far',
 'from',
 'a',
 'rocket',
 'ship',
 'too',
 'much',
 'pressureteam',
 'managers',
 'are',
 'not',
 'availableworse',
 'management',
 'and',
 'hrworse',
 'collaborationscattered',
 'resources',
 'to',
 'follow',
 'and',
 'not',
 'in',
 'one']

### Remove all stopwords

In [13]:
import nltk
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\u10054206\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [14]:
sw = nltk.corpus.stopwords.words('english')
sw[:20]

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his']

### Get a list of words without stop words

In [15]:
words_ne_positive = []
words_ne_negative = []

for word in words_positive:
    if word not in sw:
        words_ne_positive.append(word)

for word in words_negative:
    if word not in sw:
        words_ne_negative.append(word)

#### Count number of words grouped by positive and negative reviews

In [16]:
positive_counts = Counter()
negative_counts = Counter()
total_counts = Counter()

for word in words_ne_positive:
    positive_counts[word]+=1
    total_counts[word]+=1

for word in words_ne_negative:
        negative_counts[word]+=1
        total_counts[word]+=1

positive_counts.most_common()[0:10]

[('work', 286),
 ('people', 239),
 ('great', 221),
 ('good', 210),
 ('company', 177),
 ('team', 134),
 ('lot', 102),
 ('smart', 95),
 ('product', 91),
 ('working', 89)]

In [17]:
def get_words_count(dictionary):
    keys = []
    values = []
    for key, value in dictionary.items():
        keys.append(key)
        values.append(value)
    return keys, values

positive_counts_keys, positive_counts_values = get_words_count(positive_counts)
negative_counts_keys, negative_counts_values = get_words_count(negative_counts)
total_counts_keys, total_counts_values = get_words_count(total_counts)

In [18]:
df_positive_words = pd.DataFrame(data={"Word":positive_counts_keys, "Count":positive_counts_values, "Sentiment Label":"POSITIVE"})
df_negative_words = pd.DataFrame(data={"Word":negative_counts_keys, "Count":negative_counts_values, "Sentiment Label":"NEGATIVE"})
df_total_words = pd.DataFrame(data={"Word":total_counts_keys, "Count":total_counts_values, "Sentiment Label":"TOTAL"})

total_words = [df_positive_words, df_negative_words, df_total_words]
total_words

df_words_final = pd.concat(total_words)
df_words_final

                      Word  Count Sentiment Label
0                 learning     45        POSITIVE
1                      new     63        POSITIVE
2                  content      3        POSITIVE
3                extremely     23        POSITIVE
4                 detailed      2        POSITIVE
...                    ...    ...             ...
4200   strategyunorganised      1           TOTAL
4201        managementlack      1           TOTAL
4202     directionarrogant      1           TOTAL
4203  coounprofessionaliam      1           TOTAL
4204                   bag      1           TOTAL

[9697 rows x 3 columns]

In [ ]:
df_words_final.to_csv('reviews_words.csv', index=False, sep=';')